<header>
    <div class="uui-header navigation-header">
        <nav>
            <!--Responsive html-layout-->
            <div class="uui-responsive-header">
                <div class="responsive-header">
                    <div class="responsive-toggle-box">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="responsive-hide-menu">
                        <span></span>
                        <span></span>
                    </div>
                    <a href="{{ SITEURL }}/" class="responsive-brand-logo">
                        <span class="arrow fa fa-angle-left"></span>
                        <span class="logo">
                            <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ic_logo_UUi.svg" alt="" />
                        </span>
                        <span class="title">{{ SITENAME }}</span>
                    </a>
                </div>
                <div class="responsive-menu">
                    <div class="menu-wrapper">
                        <div class="menu-scroll">
                            <ul class="nav navbar-nav">
                                {% for title, link in MENUITEMS %}
                                <li><a href="{{ link }}" role="presentation">{{ title }}</a></li>
                                {% endfor %}

                                {% if DISPLAY_PAGES_ON_MENU %}
                                    {% for p in pages %}
                                        <li role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                                    {% endfor %}
                                {% else %}
                                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                                        {% for cat, null in categories %}
                                            <li role="presentation"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                                        {% endfor %}
                                    {% endif %}
                                {% endif %}

                                {% for name,link in SOCIAL if name in ['rss', 'rss-square', 'feed'] %}
                                    <li class="nav-rss"><a href="{{ link }}"><i class="ic ic-rss"></i> Subscribe</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!---->
            <a href="{{ SITEURL }}/" class="brand-logo">
                <span class="logo">
                    <img src="{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/ic_logo_UUi.svg" alt="" />
                </span>
                {{ SITENAME }}
            </a>
            <ul class="uui-navigation nav navbar-nav">
                {% for title, link in MENUITEMS %}
                    <li><a href="{{ link }}" role="presentation">{{ title }}</a></li>
                {% endfor %}

                {% if DISPLAY_PAGES_ON_MENU %}
                    {% for p in pages %}
                        <li role="presentation"><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
                    {% endfor %}
                {% else %}
                    {% if DISPLAY_CATEGORIES_ON_MENU %}
                        {% for cat, null in categories %}
                            <li role="presentation"><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
                        {% endfor %}
                    {% endif %}
                {% endif %}

                {% for name,link in SOCIAL if name in ['rss', 'rss-square', 'feed'] %}
                    <li class="nav-rss"><a href="{{ link }}"><i class="ic ic-rss"></i> Subscribe</a></li>
                {% endfor %}
            </ul>
        </nav>
    </div>
</header>