{% extends "base.html" %}

{% block title %} Archives {% endblock %}

{% if HEADER_COVER %}
  {% if HEADER_COVER|lower|truncate(4, True, '') == "http" %}
    {% set selected_cover = HEADER_COVER %}
  {% else %}
    {% set selected_cover = SITEURL+"/"+HEADER_COVER %}
  {% endif %}
{% elif HEADER_COLOR %}
  {% set selected_color = HEADER_COLOR %}
{% endif %}

{% block header %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <div id="blog-header" class="has-cover">
      <div class="inner">
        <h1 class="post-title">Archives</h1>
        {% if selected_cover %}
          <div class="blog-cover cover" style="background-image: url('{{ selected_cover }}')">
        {% elif selected_color %}
          <div class="blog-cover cover" style="background-color: {{ selected_color }}">
        {% else %}
          <div class="blog-cover cover" style="background-image: url('{{ SITEURL }}/{{ THEME_STATIC_DIR }}/images/post-bg.jpg')">
        {% endif %}
          </div>
      </div>
    </div>
{% endblock header %}

{% block content %}
  {% for article in dates %}
    <article class="post">
        <div class="post-header">
            <h2 class="post-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h2>
            <span class="post-meta">
              {% for author in article.authors %}
                  {% set author_name = author.name | title %}
                  {% if AUTHORS_BIO and author.name.lower() in AUTHORS_BIO %}
                      {% set author_name = AUTHORS_BIO[author.name.lower()].name or author.name %}
                  {% endif %}
                  <a href="{{ SITEURL }}/{{ author.url }}">{{ author_name }}</a>
              {% endfor %}
              | <time datetime="{{ article.locale_date }}">{{ article.locale_date }}</time>
            </span>
        </div>

        {% if article.has_summary %}
          <section class="post-excerpt">
            <p>{{ article.summary }}</p>
          </section>
        {% elif article.summary %}
          <section class="post-excerpt">
            <p>{{ article.summary|striptags|truncate(250) }}</p>
          </section>
        {% endif %}
    </article>
  {% endfor %}
{% endblock content %}
